.idea
.tox
.coverage
instrukcje

src/bio_statistics.egg-info
src/bio_statistics/__pycache__

tests/test_bio_statistics/test_CheckVarianceNormality/__pycache__
tests/__pycache__
tests/test_bio_statistics/__pycache__